<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practik</title>
</head>
<body>
    <a>
        ВСЕМ привет
    </a>
    <form method="post">
        <input type="text" name="last_name" id="last_name">
        <input type="text" name="ferst_name" id="ferst_name">
        <input type="text" name="email" id="email">
        <input type="text" name="phon" id="phon">
        <input type="text" name="password" id="password">
        <button type="submit"> Отправить </button>
    </form>
</body>
</html>